<div class="topcoat-tab-bar full">
    <label class="topcoat-tab-bar__item">
        <input type="radio" name="tab-bar">
        <button ng-click="opentabMA()" class="topcoat-tab-bar__button full">My Achievements</button>
    </label>
    <label class="topcoat-tab-bar__item">
        <input type="radio" name="tab-bar">
        <button ng-click="opentabLOA()" class="topcoat-tab-bar__button full">List of Achievements</button>
    </label>
    <label class="topcoat-tab-bar__item">
        <input type="radio" name="tab-bar">
        <button ng-click="opentabLeaderboard()" class="topcoat-tab-bar__button full">Leaderboard</button>
    </label>
</div>

<div class="tabContent" id="myachievements" ng-show="showMA">

    <h1>My achievements</h1>
    <div class="listLeftA">Status</div>
    <div class="listCenterA">Achievement</div>
    <div class="listRightA">Points</div>
    <ul>
        <li ng-repeat="achievement in achievement">
            <div class="listLeftA"><img src="./img/done.png"></div>
            <div class="listCenterA">{{achievement.name}}</div>
            <div class="listRightA">{{achievement.points}}</div>
                {{achievement.mytotalpoints}}
            
        </li>
    </ul>
</div>

<div class="tabContent" id="listofachievements" ng-show="showLOA">

    <h1>List of Achievements</h1>
    <div class="listLeftA"></div><div class="listCenterA">Achievement</div><div class="listRightA">Points</div>


    <div class="container" ng-repeat="achievement in achievements">




        <img src="./img/{done}.png">

        <b>{{achievement.name}}</b><br>
        {{achievement.description}}

        {{achievement.points}}


    </div>
</div>
</div>

<div class="tabContent" id="leaderboard" ng-show="showLeaderboard">

    <h1>Leaderboard</h1>

    <div class="container" ng-repeat="achievement in achievement">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>User</th>
                    <th>Total Points</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{achievement.rank}}</td>
                    <td>
                        {{achievement.userimg}}
                        {{achievement.username}}
                    </td>
                    <td>{{achievement.totalpoints}}</td>
                </tr>
                <tr>
                    <td>{{achievement.rank}}</td>
                    <td>
                        {{achievement.myuserimg}}
                        {{achievement.myusername}}
                    </td>
                    <td>{{achievement.mytotalpoints}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>