<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="myApp">
      <head>
        <meta charset="utf-8" />
        <title>Manage account</title>
        <script>document.write('<base href="' + document.location + '" />');</script>
        <link rel="stylesheet" type="text/css" href="./css/bootstrap.css" />
        <script data-require="angular.js@1.0.x" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" data-semver="1.0.7"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script type="text/javascript" src="../scripts/controllers/achievements.js"></script>
        
    </head>
    <body ng-controller="achievementsctrl">
        <div class="topbar">
            <div class="btn-group btn-group-justified">
  <a ng-click="opentabMA()" class="btn btn-default">My Achievements</a>
  <a ng-click="opentabLOA()" class="btn btn-default">List of Achievements</a>
  <a ng-click="opentabLeaderboard()" class="btn btn-default">Leaderboard</a>
</div>
            
        </div>

        <div class="tabContent" id="myachievements" ng-show="showMA">

            <h1>My achievements</h1>

            <div class="container" ng-repeat="achievement in achievement">
                <table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Completed</th>
      <th>Achievement</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><img src="../img/{done}.png"></td>
      <td>{{achievement.name}}</td>
      <td>{{achievement.points}}</td>
    </tr>
    <tr>
        <td>Total points</td>
        <td>{{achievement.mytotalpoints}}</td>
    </tr>
  </tbody>
                    </table>

        </div>
        </div>

        <div class="tabContent" id="listofachievements" ng-show="showLOA">
            
            <h1>List of Achievements</h1>
            
            <div class="container" ng-repeat="achievement in achievement">
                                <table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Completed</th>
      <th>Achievement</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><img src="../img/{done}.png"></td>
      <td>
          <b>{{achievement.name}}</b>
          {{achievement.description}}
      </td>
      <td>{{achievement.points}}</td>
    </tr>
  </tbody>
                    </table>
            </div>
        </div>

        <div class="tabContent" id="leaderboard" ng-show="showLeaderboard">

            <h1>Leaderboard</h1>
            
            <div class="container" ng-repeat="achievement in achievement">
                <table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>#</th>
      <th>User</th>
      <th>Total Points</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{achievement.rank}}</td>
      <td>
          {{achievement.userimg}}
          {{achievement.username}}
      </td>
      <td>{{achievement.totalpoints}}</td>
    </tr>
     <tr>
      <td>{{achievement.rank}}</td>
      <td>
          {{achievement.myuserimg}}
          {{achievement.myusername}}
      </td>
      <td>{{achievement.mytotalpoints}}</td>
    </tr>
  </tbody>
                    </table>
            </div>
        </div>
    </body>
</html>