<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<link rel="stylesheet" type="text/css" href="./css/app.css" />
<link rel="stylesheet" type="text/css" href="./css/LeftMenu.css" />
<link rel="stylesheet" type="text/css" href="./css/bootstrap.css" />

<Div class="LeftMenu" >
    

   


       

          
       

        
  <div class="list-group">
  <a ng-href="" class="list-group-item">
    Point of interest
  </a>
  <a ng-href="#" class="list-group-item">Routes
  </a>
  <a ng-href="#" class="list-group-item">Camera feedback
  </a>
  <a ng-href="#" class="list-group-item">&nbsp;
  </a> 
  <a ng-href="#" class="list-group-item">Help
  </a> 
  <a ng-href="#" class="list-group-item">Notification
  </a>       
</div>


    


    <Div class="SignUp"> 
        <div class="signtekst"> <p>Sign in</p> </div>
        <div class="bilder">
        <table>
            <tr>    
                <td ng-click="" name="FacebookConnection"><img src="./img/fbpic"/> </td> 
                <td ng-click="" name="CreateAccount"><img src="./img/mailpic"/></td>
            </tr> 

        </table>
        </div>
       



        <div class="signinbtn">
        <BUTTON class="btn btn-primary" ng-click="DisplaySignIn()">Sign In</BUTTON>  
        </div> 
    
    </div>'




    <div class="ng-modal" ng-show="ShowSignIn">
        <div class="ng-modal-overlay"ng-click="hideModal()"></div>
        <div class="ng-modal-dialog" ng-style="dialogStyle">
            <div class="ng-modal-close" ng-click="hideModal()"></div>
            <div class="ng-modal-dialog-content" ng-transclude></div>

        </div>

    </div>









</Div>

