


<table>
    <thead>
        <link rel="stylesheet" type="text/css" href="../css/pointofinterest.css" />
        
        <tr><b>Point of interest</b></tr>
    </thead>
    <tbody>
    
        <div ng-repeat="interests in interests" class="interests">
       <!--            <img src="./img/logo.png" /><br>
       -->
  <img ng-src="{{'./img/interests/' + interests.imgname+'.png'}}"/>     
  
  {{interests.interestName}} /
  {{interests.interestLocation}}<br>
  <b>Rating:</b>{{interests.interestRating}}

        </div>
        <td>
        
        
        </td>
        
      </tr>
    </tbody>
  </table>

