

<link rel="stylesheet" type="text/css" href="css/socialshare.css" />  
   <div id="example6">
  <div id="twitter" data-url="http://www.yeditepe.edu.tr/" data-text="Share the best app in the world!"></div>
  <div id="facebook" data-url="http://www.yeditepe.edu.tr/" data-text="Share the best app in the world!"></div>
  <div id="googleplus" data-url="http://www.yeditepe.edu.tr/" data-text="Share the best app in the world!"><img src="./css/topcoat/img/pluss.gif" height="80px" width="80px"></div>
</div>
 <input type="text" ng-model="test">