<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="com.coolappz.seed" version="1.0.0">
    <name>seed</name>
    <description>Cordova Application</description>
    <author email="info@com.coolappz" href="http://www.coolappz.com">hopalicious</author>
    <access origin="*"/>
    <preference name="fullscreen" value="true"/>
    <preference name="webviewbounce" value="true"/>
</widget>
