/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.mar.2014, 11:59:18
    Author     : Kjetil
*/
div.topbar{
position:relative;
background-color:black;
height: 20%;
width: 50%;
margin: 0 auto;
margin-top: -10px;
padding:1px;
}

div.container{
position: relative;
background-color: blue;
margin: 0 auto;
padding: 1px;
}

div.List-element{}


div.column-1{
float:left;
position: relative;
top: auto;
left: 0px;
width: auto;
background-color:yellow;
}

div.column-2{
float:left;
position: relative;
top: auto;
left:30px;
width: auto;
background-color:green;
}

div.column-3{
float:left;
position: relative;
top: auto;
left: 130px;
width: auto;
background-color:greenyellow;
}

div.bottom{
    
}

div.totpoints{
    
}

div.totalpoints{
    
}
