/* app css stylesheet */

/*  TOPCOAT    */

@import url('./topcoat/topcoat-desktop-dark.css');
@import url('./topcoat/topcoat-desktop-dark.min.css'); 
@import url('./topcoat/topcoat-desktop-light.css'); 
@import url('./topcoat/topcoat-desktop-light.min.css'); 


/* 1. RESETS */
input[type="checkbox"]:hover {cursor: pointer;}



/* 2. GENERAL TAGS */
.clear-both {clear: both;}
.text-align-left {text-align: left; display:inline;}
.text-align-right {text-align: right; display:inline;}
.horizontal-separator {border-top: 1px solid #0076bb;}
.hidden {visibility: hidden;}
.removed {display: none;}



/* 3. FONTS AND GENERAL COLORS */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin:0;
  padding: 0 0 0.5em;
  background-color: white;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
  margin:0;
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/*
 * IstanbulApp
 */


* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
   
    font-family: "Montserrat",sans-serif;
    background-color: #FFFFFF;

    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-size:12px;
    padding:0px;
    text-transform:uppercase;
    
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.page-wrapper {
    background-color: #e4e5e7;
    width: 6cm;
    margin: 0 auto;
    cursor: default;
    
}




