#poi-search {
    margin-top: 6px;
    background: #595b5b;
}

.poi-list-container img {
    float: left;
    max-width: 150px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.poi-list-container {
    height: 100%;
    display: block;
}

#poi-page img {
    max-width: 250px;
}